<form {{action "save" on="submit"}}>
  <div>
    <label>
      Title
      {{input type="text" value=model.title}}
    </label>
  </div>
  <div>
    <label>
      Author
      {{input type="text" value=model.author}}
    </label>
  </div>
  <div>
    <label>
      Body
      {{input type="text" value=model.body}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
