<h1>Articles list</h1>

<p>
  {{link-to "New Article" "articles.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          Title
        </th>
        <th>
          Author
        </th>
        <th>
          Body
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each article in model}}
        <tr>
          <td>
            {{article.title}}
          </td>
          <td>
            {{article.author}}
          </td>
          <td>
            {{article.body}}
          </td>
          <td>
            {{link-to "Edit" "articles.edit" article}}
          </td>
          <td>
            {{link-to "Show" "articles.show" article}}
          </td>
          <td>
            <a href="#" {{action "remove" article}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Articles found
  </p>
{{/if}}
