<p>
  {{link-to "Article list" "articles.index" }}
</p>

<h1>Article show</h1>

<p>
  <strong>Title:</strong>
  <span>{{model.title}}</span>
</p>

<p>
  <strong>Author:</strong>
  <span>{{model.author}}</span>
</p>

<p>
  <strong>Body:</strong>
  <span>{{model.body}}</span>
</p>

